*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body
{
    background-image: url(library/background.jpg);
    background-repeat: no-repeat;
    background-size: 1920px;
}

.container
{
    align-items: center;
    align-content: center;
    margin: 50px;
    margin-left: 450px;
    width: 50%;
    background: black;
    border-radius: 10px;
    padding: 90px 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .9);
}

.container .login-text
{
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    display: block;
    text-transform: uppercase;
}

.container .login-email .input-group
{
    color: white;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input
{
    color: white;
    width: 100%;
    padding: 15px 20px;
    border: 3px solid purple;
    border-radius: 50px;
    outline: none;
    transition: .3s;
    background: transparent;
}

.container .login-email .input-group input:focus,
.container .login-email .input-group input:valid
{
    border-color: greenyellow;
}

.container .login-email .input-group .btn
{
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    outline: none;
    background-color: purple;
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover
{
    color: black;
    background-color: greenyellow;
    transform: translateY(-10px);
}

.login-register-text
{
    color: white;
    font-weight: 700;
}

.login-register-text a
{
    text-decoration: none;
    color: deeppink;
}

.login-register-text a:hover
{
    text-decoration: underline;
    color: greenyellow;
}

